<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Gruppi Goods" %></title>
    
    <%= stylesheet_link_tag "normalize"%>
    <%= stylesheet_link_tag "base"%>
    <%= stylesheet_link_tag "layout"%>
    <%= stylesheet_link_tag "module" %>
    <%= stylesheet_link_tag "mobile"%>
    <%= javascript_include_tag  "sp/menu"%>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="l-wrapper">
      <%= partial 'layouts/sp/header'%>
      <div class="l-main clearfix">
	<%= yield %>
      </div>
      <%= partial 'layouts/pc/footer'%>
    </div>
  </body>
</html>
