---
title: "ホーム画面"
layout: sp
---
<div class="l-constrained clearfix">
  <h1 class="">ホーム</h1>
  <div class="l-side-col">
    <div class="l-side-row">
    <%= partial 'pc/admin_panel'%>
    </div>
    <div class="l-side-row">
      <%= partial 'pc/user_lending_status'%>
    </div>
  </div>
  <div class="l-main-col">
    <%= partial 'sp/lending_nav'%>
    <%= partial 'sp/new_goods' %>
    <%= partial 'sp/new_comments'%>
  </div>
</div>
