---
title: "all"
layout: pc
---
<div class="l-constrained">
  <h1 class="border_heading">新規登録</h1>
  <div class="l-grid-row signin_wrapper clearfix">
    <div class="l-grid-1-2 l-align-left side_divider_right">
      <div class="l-grid-10-12 l-align-center">
	<h2>メールアドレス</h2>
	<form class="input_box">
	  <input type="text">
	  <button>送信</button>
	</form>
      </div>
    </div>
    <div class="l-grid-1-2 l-align-left ">
      <div class="l-grid-8-12 l-align-center">
	<div class="social_btns">
	  <a href="/" class="link_btn link_btn_twitter link_btn_large">Twitterで登録</a>
	  <a href="/" class="link_btn link_btn_github link_btn_large">Githubで登録</a>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="l-constrained">
  <h1 class="border_heading">ログイン</h1>
  <div class="l-grid-row signin_wrapper clearfix">
    <div class="l-grid-1-2 l-align-left side_divider_right">
      <div class="l-grid-10-12 l-align-center">
	<h2>メールアドレス</h2>
	<form class="input_box">
	  <input type="text">
	  <button>送信</button>
	</form>
      </div>
    </div>
    <div class="l-grid-1-2 l-align-left ">
      <div class="l-grid-8-12 l-align-center">
	<div class="social_btns">
	  <a href="/" class="link_btn link_btn_twitter link_btn_large">Twitterでログイン</a>
	  <a href="/" class="link_btn link_btn_github link_btn_large">Githubでログイン</a>
	</div>
	<p class="anotation">アカウント連携が済んでいる必要があります。</p>
      </div>
    </div>
  </div>
</div>
<div class="l-constrained clearfix">
  <h1 class="">ホーム</h1>
  <div class="l-side-col l-grid-3-12 l-align-left">
    <div class="l-side-row">
    <%= partial 'pc/admin_panel'%>
    </div>
    <div class="l-side-row">
      <%= partial 'pc/user_lending_status'%>
    </div>
  </div>
  <div class="l-grid-9-12 l-align-left">
    <%= partial 'pc/lending_nav'%>
    <%= partial 'pc/new_goods' %>
    <%= partial 'pc/new_comments'%>
  </div>
</div>
<div class="l-constrained">
  <h1 class="border_heading">新しい備品</h1>
  <% 5.times do %>
  <div class="l-grid-row clearfix">
    <% 2.times do %>
    <div class="l-grid-1-2 l-align-left">
      <div class="block_content product_small clearfix">
	<div class="l-grid-row clearfix">
	  <div class="l-grid-1-4 l-align-left">
	    <div class="inner_offset">
	      <img src="/images/javascript.jpeg">
	    </div>
	  </div>
	  <div class="l-grid-3-4 l-align-left">
	    <a href="/">JavaScript第六版</a>
	    <p>JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書</p>
	  </div>
	</div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="l-constrained pagination">
  <ul>
    <% 10.times do |num| %>
      <li><a href="" <%= 'class="actived"' if num == 0 %>><%= num %></a></li>
    <% end %>
  </ul>
</div>
<div class="l-constrained">
  <h1 class="border_heading">新しくコメントがつけられた備品</h1>
  <% 5.times do %>
    <div class="l-grid-row clearfix">
      <% 2.times do %>
	<div class="l-grid-1-2 l-align-left">
	  <div class="block_content product_small clearfix">
	    <div class="l-grid-row clearfix">
	      <div class="l-grid-3-12 l-align-left">
		<div class="inner_offset">
		  <img src="/images/javascript.jpeg">
		</div>
	      </div>
	      <div class="l-grid-9-12 l-align-left">
		<a href="/">JavaScript第六版</a>
		<p>JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書</p>
	      </div>
	    </div>
	    <div class="l-grid-row clearfix">
	      <div class="product_comment clearfix">
		<div class="l-grid-2-12 l-align-left">
		  <div class="inner_offset">
		    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png"><br>
		    <a href="">@asakura_dev</a>
		  </div>
		</div>
		<div class="l-grid-10-12 l-align-left">
		  <div class="fbox">気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント</div>
		</div>
	      </div>
	    </div>
	    <div class="l-grid-row see_more">
	      <a href="/">他20件のコメント</a>
	    </div>
	  </div>
	</div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="l-constrained">
  <h1>備品詳細</h1>
  <div class="block_content product_small clearfix">
    <div class="l-grid-2-12 l-align-left">
      <div class="inner_offset">
	<img src="/images/javascript.jpeg">
      </div>
    </div>
    <div class="l-grid-8-12 l-align-left">
      <div class="inner_offset">
	<a href="/">JavaScript第六版</a>
	<p>JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書JavaScriptの教科書</p>
      </div>
    </div>
    <div class="l-grid-2-12 l-align-left">
      <a href="/" class="link_btn link_btn_success">借りる</a>
    </div>

  </div>
  <h2>コメント</h2>
  <div class="product_comments block_content">
    <% 5.times do %>
    <div class="product_comment l-grid-12-12 clearfix l-align-center">
	<div class="l-grid-1-12 l-align-left">
	  <div class="inner_offset">
	    <img src="https://pbs.twimg.com/profile_images/541976875929571328/vnbAiTRn_400x400.png"><br>
	      <a href="">@asakura_dev</a>
	    </div>
	</div>
	<div class="l-grid-11-12 l-align-left">
	  <div class="fbox font-large">気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント気の利いたコメント</div>
	</div>
    </div>
    <% end %>
    <h3 class="border_heading">コメントする</h3>
  </div>
</div>
